fastapi==0.120.4
pydantic==2.12.3
uvicorn==0.38.0
requests==2.32.5
google-generativeai==0.8.5
python-dotenv==1.2.1
sqlalchemy==2.0.44
sqlmodel==0.0.27
databases==0.9.0
httpx==0.28.1
redis==7.0.1
rq==2.6.0
